/*Large Device*/ 
@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    section{
        padding: 3rem 2rem;
    }
}

/*Medium Device*/ 
@media (max-width: 768px){
    #menu-btn{
        display: inline-block;
    }
    .header{
        .navbar{
            position: absolute;
            top: 99%;
            left: 0;
            right: 0;
            background: $white;
            border: $border;
            clip-path: polygon(0% 0%, 100% 0%, 0% 0%);
            a{
                display: block;
                margin: 1.5rem;
                padding: 1.5rem;
                font-size: 2rem;
                border-bottom: $border;
            }
            &.active{
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            }
        }
        .search-form{
            width: 90%;
        }
    }
    
}

/*Small Device*/ 
@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .home .slides-container .slide .content h2{
        font-size: 5rem;
    }
}